{% extends "base.html" %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        <img src="{{ url_for('static', filename='img/logo_superpekes.png') }}" alt="Superpekes" class="login-logo">
        
        <h2>Acceso Personal</h2>
        
        <form method="POST">
            <div style="margin-bottom: 10px;">
                <input type="text" name="dni" placeholder="DNI / NIE" required class="form-input" autofocus>
            </div>
            <div style="margin-bottom: 15px;">
                <input type="password" name="password" placeholder="Contraseña" required class="form-input">
            </div>
            
            <button type="submit" class="btn btn-primary" style="width: 100%;">
                Entrar
            </button>
        </form>

        {# Bloque para mostrar mensajes de error o bienvenida #}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="mensaje" style="margin-top: 15px; color: #ef4444; font-size: 0.9rem;">
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}